<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户密码</title>
<!--    {% load static%}-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/form.css' %}"/>
</head>
<body>
<fieldset>
    <legend align="center"><h2>重置用户密码</h2></legend>
    <form method="post" action="{% url 'changePassword' %}">
        {%csrf_token%}
        用户名：<select name="username">
        {% for i in users %}
        <option value="{{i.name}}">{{ i.name }}</option>
        {% endfor %}
    </select>
        请输入旧密码：<input type="password" name="password" id="pswd">
        请输入新密码：<input type="password" name="newpassword" id="nepswd" class="pswd">
        重复输入新密码：<input type="password" name="repeat" id="repswd">
        <center><input type="submit" value="保存" class="btn btn-primary"></center>
    </form>
</fieldset>
{% if messages %}
<script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
</body>
</html>