<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新学生数据</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/form.css' %}"/>
</head>
<body>

<div>
    <fieldset>
        <legend align="center"><h1>修改学生具体信息</h1></legend>
        <form method="post" action="{% url 'updateinfo' %}">
            {% csrf_token %}
            学号：
            <select name="studentid">
                {% for i in students %}
                    <option {% if i.studentid == record.studentid %}
                        selected="selected" {% endif %}> {{ i.studentid }}
                    </option>
                {% endfor %}
            </select>
            姓名：<input type="text" name="name" placeholder={{ record.name }}>
            电话：<input type="text" name="phone" placeholder={{ record.phone }}>
            电邮：<input type="text" name="email" placeholder={{ record.email }}>
            宿舍：<input type="text" name="dorm" placeholder={{ record.dorm }}>
            <center>
                <input name="option" type="submit" id="check" value="检视">
                <input name="option" type="submit" value="更新">
            </center>
        </form>
    </fieldset>
</div>

</body>
</html>